  .row.content {
    	height: 80%;
    }

    
    /* Set gray background color and 100% height */
    .sidenav {
      height: 100%;
      text-align: center;
      padding-top: 25px;
    }

    .btn-sidebar {
    	width: 60%;
    }
    
    #addTime {
        height: 60px;
        width: 60%;
    	font-size: 25px;
    }

    #logo {
        height: 140px;
    }
    #navbarCustom {
        height: 150px;
    }
    #td_collapse {
        padding: 0px;
    }
    #collapse_custom {
        
        padding: 5%;
    }
    #toggle_checkbox {
        width: 100%;    }

    .space {
    	margin: 5px;
    }

    .space-2 {
    	margin-bottom: 17px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 25px;
      }
      .row.content {height: auto;} 
    }