/* css grid layout*/

.grid {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: "nav nav nav" ". customer ." ". hours ." ". expences ." ". indhold ." "footer footer footer";
	border: 2px solid black;
	grid-gap: 10px;
}

.nav {
	grid-area: nav;
}

.customer {
	display: grid;
	grid-area: kunde;
	grid-template-columns: 1fr 4fr;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
	grid-template-areas: "cust_1r1c cust_1r2c" "cust_2r1c cust_2r2c";
	padding-left: 10px;
}

.hours {
	display: grid;
	grid-area: hours;
	/* nyt */
	grid-template-columns: 1fr 4fr;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
	grid-template-areas: "invHours hoursOpt" "invType invTypeOpt";
	padding-left: 10px;
	/* grid-template-columns: 2fr 1fr 3fr 5fr;
	grid-template-areas: "invHours . hoursOpt ." "invType . invTypeOpt ."  */
}

.hours > div {
	padding: 5px;
}

.expences {
	display: grid;
	grid-area: expences;
	grid-template-columns: 1fr 4fr;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
	grid-template-areas: "1r1c 1r2c" "2r1c 2r2c" "3r1c 3r2c";
	padding-left: 10px;
}

.expences > div {
	padding: 5px;
}

.indhold {
	grid-area: indhold;
}

.header {
	grid-area: header;
}

.linier {
	grid-area: linier;
}

.note {
	grid-area: note;
}

.footer {
	grid-area: footer;
}


/* Style fælles */

.btn-text {
	text-align: left !important;
}

.btn-style {
	width: 70%;
}

/* style timer */

.btn-check {
	color: green;
}

/* hours layout */
#date {
	padding-top: 20px;
	padding-bottom: 20px;
}


/* hours layout slut */


/*hours areas*/

#invHours {
	grid-area: invHours;
	/* nyt */
	text-align: right;
	/* padding-top: 20px; */
}

#invType {
	grid-area: invType;
	/* nyt */
	text-align: right;
	/* padding-left: 50px;
	padding-top: 20px; */
}

#hoursOpt {
	grid-area: hoursOpt;
	/* padding-top: 20px; */
}

#invTypeOpt {
	grid-area: invTypeOpt;
	/* padding-top: 20px;
	padding-bottom: 20px; */
}


/*hours areas slut*/


/* grid div + subgrid + subgrid div */

.grid > div {
	border: solid black;
}

.grid > div:nth-child(odd) {
	background: #eee;
}

.grid > div:nth-child(even) {
	background: #ddd;
}

.subgrid {
	display: grid;
	grid-template-areas: "." "header" "linier" "note";
	grid-gap: 5px;
}

.subgrid > div {
	border: solid black;
}

.subgrid > div:nth-child(odd) {
	background: #bbb;
}

.subgrid > div:nth-child(even) {
	background: #ccc;
}

.subgrid {
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-areas: ". . ." ". header ." ". linier ." ". note. ";
	grid-gap: 5px;
}